@using System.Collections.Generic
@using System.Linq
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Sites/_Details.cshtml";
    ViewBag.Title = "Index";
    ViewBag.ActiveMenuItem = "sites";
    ViewBag.ActiveSubmenuItem = "errors";
}   
@if(Model.Exceptions.Count == 0)
{
    <h4>Yay! We didn't find any errors for this site.</h4>
} else {
<ul class="sections active-@Model.ActiveSection">
    <li class="section2"><a href="/sites/@Model.Site.IisId/errors/?r=today">Today</a></li>
    <li class="section3"><a href="/sites/@Model.Site.IisId/errors/?r=lastweek">Last week</a></li>
    <li class="section4"><a href="/sites/@Model.Site.IisId/errors/?r=lastmonth">Last month</a></li>
    <li class="section1"><a href="/sites/@Model.Site.IisId/errors/">All time</a></li>
</ul>

<div class="clear"></div>

    <h3 class="margin-top30">Logged errors</h3>
    
    <table class="table table-striped margin-top10">
        @foreach(Servant.Business.Objects.ApplicationError error in Model.Exceptions) {
            <tr>
                <td>
                    <span class="nowrap-limit590">
                        <a href="/sites/@error.SiteIisId/errors/@error.Id/">@error.Message</a>
                    </span>
                    <span class="time-diff pull-right">@error.DateTime</span>
                </td>
            </tr>
        }
    </table>
}