/* TAG SPECIFIC
-----------------------*/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 100%;
}

html { margin: 0;}

body, input, label {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #828282;
}

body {
    width: 100%;
    font-size: 15px;
    margin: 0;
    color: #828282;
}

a, a:visited {
    color: #828282;
    text-decoration: underline;
}

p {
    margin: 0 0 20px 0;
}

h1,h2,h3 {
    display: block;
    color: #666;
    text-align: center;
    font-family: 'Open Sans' !important;
    font-style: normal;
    font-weight: 300;
    font-size: 37pt;
    line-height: 1.1em;
    margin-bottom: 20px;
}

h2 {
    font-size: 25pt;
}


    input[type=submit], .btn-submit, a.btn-submit:visited {
    background: url('icon-ok.png') no-repeat 10px center;
    padding: 10px 15px 10px 45px;
    background-color: #a8c019;
    color: white;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

    input[type=submit]:hover {
        background-color: #bad80a;
    }

#top {
    width: 100%;
    background-color: #202020;
    height: 80px;
    position: absolute;
    top: 0;
    z-index: 1;
}

#container {
    margin: 0 auto;  
    z-index: 2;
    position: relative;
    width: 800px;
}

ul#menu {
    list-style: none;
    float: right;
    margin: 0 0 40px 0;
    padding: 30px 0;
}

ul#menu li { float: left;padding-left: 30px; }

ul#menu li a { text-transform: uppercase;text-decoration: none;font-weight: bold;color: silver;}
ul#menu li a:hover, ul#menu li a.active { color:#4dd7ff }


#logo {
    position: absolute;
}


.center { text-align: center;}


.box {
    float: left;
    width: 50%;
    text-align: center;
    padding: 30px

}

.fullbox {
    width: 100%;
    text-align: center;
    clear: both;
    margin-bottom: 70px;
}

    .fullbox img {
        padding: 5px;
    }

#screenshots img { width: 260px;}

a.download {
    background: url('/images/icon_download.png') no-repeat 20px center #a8c019;
    padding: 20px 20px 20px 60px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    text-align: left;
    font-size: 18px;
}

    a.download span {
        font-weight: normal;
        display: block;
        font-size: 10px;
    }





/* Bubble from http://www.ilikepixels.co.uk/drop/bubbler/ - thanks guys! */
.bubble 
{
    position: relative;
    padding: 15px;
    border: #c0c0c0 solid 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
}

.bubble:after 
{
    content: "";
    position: absolute;
    top: 25px;
    left: -16px;
    border-style: solid;
    border-width: 11px 16px 11px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
}

.bubble:before 
{
    content: "";
    position: absolute;
    top: 25px;
    left: -17px;
    border-style: solid;
    border-width: 11px 16px 11px 0;
    border-color: transparent #c0c0c0;
    display: block;
    width: 0;
    z-index: 0;
}