@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
    ViewBag.ActiveMenuItem = "home";
}

<h2>Welcome to your shiny webserver!</h2>

<h3 class="margin-top30">Today's big numbers</h3>  

<div>
    109.334 requests served<br/>
    204 mb sent<br/>
    14 mb recieved
</div>

<hr/>

<h3>Latest server events</h3>
<table class="table table-striped margin-top10">
    @foreach(Servant.Business.Objects.ApplicationError error in Model.UnhandledExceptions) {
        <tr>
            <td>
                <span class="nowrap-limit590">
                    @if(error.Site != null) {
                        @:<a href="/sites/@error.SiteIisId/stats/">@error.SiteIisId</a>: 
                        <a href="/sites/@error.SiteIisId/exceptions/@error.Id/">@error.Message</a>
                    } else {
                        @:Unknown:
                        <a href="/exceptions/@error.Id/">@error.Message</a>
                    }
                </span>
                <span class="time-diff pull-right">@error.DateTime</span>
            </td>
        </tr>
    }
</table>