
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
    ViewBag.ActiveMenuItem = "stats";
}

<h2>Clean up application pools</h2>


<p class="margin-top30">The following application pools has been detected as unused:</p>

<form action="/stats/cleanupapplicationpools/" method="POST">
    <div class="control-group">
        <ul class="metro-list">
            @foreach(var applicationPool in Model.UnusedApplicationPools)
            {
                <li>
                    <label class="checkbox">
                        <input type="checkbox" value="@applicationPool" name="applicationpools" checked="checked">
                        @applicationPool
                    </label>
                </li>
            }
        </ul>
    </div>
    
    <input type="submit" class="btn btn-primary" value="Delete selected application pools"/>
</form>