<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="exceptionless" type="Exceptionless.Configuration.ExceptionlessSection, Exceptionless" requirePermission="false" />
  </configSections>
  <exceptionless apiKey="b43a08aa6cc94ed8b3b789352a2c73dd" />
</configuration>