@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Settings/_Layout.cshtml";
    ViewBag.ActiveSubmenuItem = "api";
}

<div class="box50">
    <h3>API</h3> 
    <form action="/settings/api/" method="POST">
        <div class="input-group">
            <label for="enableapi">API</label>
            <label class="checkbox" style="text-align: left;">
                <input type="checkbox" name="enableapi" id="enableapi" value="true" @(Model.Settings.EnableApi == true ? Html.Raw("checked=\"checked\"") : null) />
                Enabled
            </label>
        </div>
    
        <div class="margin-top30">
            <input type="submit" value="Save settings" />
        </div>
    </form>
</div>