<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define ProductId = "*"?>
  <?define UpgradeCode = "12ad19d8925e496783745058da49089b"?>
  <?define ProductVersion = "!(bind.FileVersion.$(var.Servant.Agent.TargetFileName))"?>
  <?define RTMProductVersion = "0.0.0.0"?>
    
	<Product Id="$(var.ProductId)" Name="Servant Agent" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Servant.io" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
   
    <Upgrade Id='$(var.UpgradeCode)'>
      <UpgradeVersion Minimum='$(var.ProductVersion)'
                      IncludeMinimum='no'
                      OnlyDetect='yes'
                      Property='NEWPRODUCTFOUND' />
      <UpgradeVersion Minimum='$(var.RTMProductVersion)'
                      IncludeMinimum='yes'
                      Maximum='$(var.ProductVersion)'
                      IncludeMaximum='no'
                      Property='UPGRADEFOUND' />
    </Upgrade>
    
    <MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Servant Agent" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <Icon Id="logo.ico" SourceFile="logo.ico"/>

    <UIRef Id="WixUI_InstallDir" />
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="KEY" />
    <Property Id="ARPPRODUCTICON" Value="logo.ico" />

    <UI>
      <Publish Dialog="WelcomeDlg"
               Control="Next"
               Event="NewDialog"
               Value="KeyDialog"
               Order="2">1</Publish>
      <Publish Dialog="KeyDialog"
               Control="Next"
               Event="SpawnDialog"
               Value="MissingKeyDlg_Error"
               Order="2"><![CDATA[Not (KEY <> "")]]></Publish>
      <Publish Dialog="KeyDialog"
               Control="Next"
               Event="NewDialog"
               Value="InstallDirDlg"
               Order="2"><![CDATA[(KEY <> "")]]></Publish>
      <Publish Dialog="KeyDialog"
               Control="Back"
               Event="NewDialog"
               Value="WelcomeDlg"
               Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg"
               Control="Back"
               Event="NewDialog"
               Value="KeyDialog"
               Order="2">1</Publish>

      <Dialog Id="MissingKeyDlg_Error" Width="230" Height="85" NoMinimize="yes" Title="Key Required">
        <Control Id="MissingKeyDlgSkipDesc1" Type="Text" Width="180" X="15" Y="15" Height="20" Text="You didn't type in a key." />
        <Control Id="MissingKeyDlgSkipDesc2" Type="Text" Width="180" X="15" Y="30" Height="20" Text="Log into Servant.io to get your key." />
        <Control Id="Ok" Type="PushButton" X="85" Y="55" Width="66" Height="17" Text="OK" />
      </Dialog>

      <Publish Dialog="MissingKeyDlg_Error" Control="Ok" Event="EndDialog" Value="Return">1</Publish>
    </UI>

    <CustomAction Id="SetKey_set" Property='SetKey' Value='"[INSTALLDIR]Servant.Agent.exe" -k [KEY]' Execute='immediate'/>
    <CustomAction Id="SetKey" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="check" Impersonate="no"/>
    <CustomAction Id="RunStartServiceCommand_set" Property='RunStartServiceCommand' Value='"[SystemFolder]sc.exe" start ServantAgent' Execute='immediate'/>
    <CustomAction Id="RunStartServiceCommand" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="check" Impersonate="no"/>
    <CustomAction Id='PreventDowngrading' Error='Newer version already installed' />

    <InstallExecuteSequence>
      <Custom Action="SetKey_set" Before="InstallFinalize">NOT REMOVE</Custom>
      <Custom Action="SetKey" After="SetKey_set">NOT REMOVE</Custom>
      <Custom Action="RunStartServiceCommand_set" After="SetKey">NOT REMOVE</Custom>
      <Custom Action="RunStartServiceCommand" After="RunStartServiceCommand_set">NOT REMOVE</Custom>
    </InstallExecuteSequence>
  
    <InstallExecuteSequence>
      <Custom Action='PreventDowngrading' After='FindRelatedProducts'>NEWPRODUCTFOUND</Custom>
      <RemoveExistingProducts Before="InstallInitialize" />
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action='PreventDowngrading' After='FindRelatedProducts'>NEWPRODUCTFOUND</Custom>
    </InstallUISequence>
	</Product>
  
	<Fragment>
    <WixVariable Id="WixUIBannerBmp" Value="banner1.jpg" />
    <WixVariable Id="WixUIDialogBmp" Value="banner2.jpg" />
    <PropertyRef Id="NETFRAMEWORK40FULL"/>

    <Condition Message=".NET Framework 4.0 must be installed prior to installation of this product.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLDIR" Name="Servant" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLDIR">
      <Component Id="Servant.Agent.exe" Guid="2636bf23363a41dfbf2cebf84674a24e">
        <File Id="Servant.Agent.exe" Source="$(var.Servant.Agent.TargetDir)\Servant.Agent.exe" KeyPath="yes" Vital="yes" />
        <ServiceInstall Id="ServantAgentService" Description="Servant Agent is responsible for exchanging data with Servant.io" DisplayName="Servant Agent" Name="ServantAgent" Start="auto" Type="ownProcess" ErrorControl="normal"/> 
        <ServiceControl Id="ServantAgentServiceControl" Name="ServantAgent" Stop="both" Remove="uninstall" Wait="yes" /> 
      </Component>
      <Component Id="Servant.Business.dll" Guid="b03243fbd54b4b46acfd3db4db40f0d1">
        <File Id="Servant.Business.dll" Source="$(var.Servant.Agent.TargetDir)\Servant.Business.dll" KeyPath="yes" />
      </Component>
      <Component Id="CommandLine.dll" Guid="3190095badda4fb89085d77f35fa153a">
        <File Id="CommandLine.dll" Source="$(var.Servant.Agent.TargetDir)\CommandLine.dll" KeyPath="yes" />
      </Component>
      <Component Id="Servant.Shared.dll" Guid="63271e4a68f94c4481c5f95e219adcf1">
        <File Id="Servant.Shared.dll" Source="$(var.Servant.Agent.TargetDir)\Servant.Shared.dll" KeyPath="yes" />
      </Component>
      <Component Id="ServiceStack.Text.dll" Guid="11256da2c0ae4750b188300cdbb6765f">
        <File Id="ServiceStack.Text.dll" Source="$(var.Servant.Agent.TargetDir)\ServiceStack.Text.dll" KeyPath="yes" />
      </Component>
      <Component Id="Servant.Updater.exe" Guid="b502232edf5c458fb0d8eac606b76f7f">
        <File Id="Servant.Updater.exe" Source="$(var.Servant.Updater.TargetDir)\Servant.Updater.exe" KeyPath="yes" />
      </Component>
      <Component Id="ICSharpCode.SharpZipLib.dll" Guid="49f654c46b2d4ec8945c9969b26e69a0">
        <File Id="ICSharpCode.SharpZipLib.dll" Source="$(var.Servant.Agent.TargetDir)\ICSharpCode.SharpZipLib.dll" KeyPath="yes" />
      </Component>
      <Component Id="Microsoft.AspNet.SignalR.Client.dll" Guid="5699d718cdea407488e738c5c7760acc">
        <File Id="Microsoft.AspNet.SignalR.Client.dll" Source="$(var.Servant.Agent.TargetDir)\Microsoft.AspNet.SignalR.Client.dll" KeyPath="yes" />
      </Component>
      <Component Id="Newtonsoft.Json.dll" Guid="5a443d73f4ca452fbf779d18cc9adb5f">
        <File Id="Newtonsoft.Json.dll" Source="$(var.Servant.Agent.TargetDir)\Newtonsoft.Json.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>