html, body 
{
    height: 100%;
    margin: 0;
}

#application 
{
    height: 100%;
}

#menu 
{
    background-color: #1ba1e2;
    height: 100%;
}

#menu h3
{
    text-align: center;
    font-size: 16px;
    margin: 40px 0 40px 0;
}

#menu ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
    
#menu a 
{
    padding-top: 40px;
    text-align: center;
    color: white;
    display: block;
    background:no-repeat top center;
    margin-bottom: 30px;
    outline: 0;
}

#menu a:hover 
{
    text-decoration: none;
    opacity: 0.6;
}

#menu .menu-home a { background-image: url('/images/menu_home.png'); }
#menu .menu-sites a { background-image: url('/images/menu_sites.png'); }
#menu .menu-stats a { background-image: url('/images/menu_stats.png'); }
#menu .menu-performance a { background-image: url('/images/menu_performance.png'); }
#menu .menu-settings a { background-image: url('/images/menu_settings.png'); }
#menu .menu-about a { background-image: url('/images/menu_about.png'); }
#menu .menu-logout a { background-image: url('/images/menu_logout.png'); }

#menu ul.active-home li.menu-home,
#menu ul.active-sites li.menu-sites,
#menu ul.active-stats li.menu-stats,
#menu ul.active-performance li.menu-performance,
#menu ul.active-settings li.menu-settings,
#menu ul.active-about li.menu-about,
#menu ul.active-about li.menu-logout
{
    background: url('/images/menu_marker.png') no-repeat center right;
}


#menu li.menu-performance a  {
    opacity: 0.2;
    cursor: not-allowed;
}

#content 
{
    margin-top: 13px;
}
#content .padding 
{
    /*padding-left: 20px;*/
    padding-top: 19px;
    padding-bottom: 20px;
}


.center { text-align: center; }
.margin-top10 { margin-top: 10px; }
.margin-top30 { margin-top: 30px; }
.margin-left10 { margin-left: 10px; }
.valign-middle { vertical-align: middle !important; }
.valign-top { vertical-align: top !important; }
.pointer { cursor: pointer; }
.gray { color:#939393}

.nowrap-limit590 
{
     display: inline-block; 
     max-width: 590px; 
     overflow: hidden; 
     white-space: nowrap;
}
.fadeout-right 
{
    background: url('/images/fadeout_right.png') no-repeat;
    width: 50px;
    height: 20px;
}
.text-right 
{
    text-align: right !important;
}

hr 
{
    height: 15px;
    background-color: #DDDDDD;
    border: 0;
    margin: 35px 0;
}

.time-diff 
{
    background: url('/images/icon_clock.png') no-repeat center left;
    padding-left: 15px;
    color: #939393;
    font-size: 11px;
}

.site-details 
{
    font-size: 10px;
    color: #939393;
}

ul.sections {
    list-style-type: none;
    display: block;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

ul.sections li a {
    float:left;
    margin-right: 10px;
    background-color: #DDDDDD;
    padding: 5px 10px;
    text-decoration: none;
    color: #333333;
}

ul.sections li a:hover {
    opacity: .6;
}

ul.sections.active-section1 li.section1 a,
ul.sections.active-section2 li.section2 a,
ul.sections.active-section3 li.section3 a,
ul.sections.active-section4 li.section4 a
{
    background-color: #1ba1e2;
    color: white;
    font-weight: bold;

}

a.create-site {
    background: url('/images/icon_add.png') no-repeat center left;
    padding-left: 30px;
    padding-bottom: 2px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}


.control-group.error label {
    color: #333 !important;
    box-shadow: none !important;
    border: 0 !important;
}
