h1,h2,h3,h4,h5,h6 
{
    text-transform: none;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

input
{
    font-family:"Segoe UI","Helvetica Neue",'RobotoLight',sans-serif;
    font-weight:100;
    color: #333;
}

input.input-medium, select.input-medium 
{
    border: 2px solid #5c5c5c;
    border-radius: 0;
    padding: 5px;
    -moz-transition: none;
    box-shadow:none;
    font-size: 15px;
    height: auto;
    
}

input.input-medium:focus, select.input-medium:focus
{
    box-shadow: none !important;
}

.btn
{
    font-size: 16px;
    text-shadow: none;
    font-weight:400;
    background-image: none;
    border:0;
    border-radius: 0;
}

.btn-primary {
    background-color: #1ba1e2;
}


ul.submenu 
{
    list-style-type: none;
    margin: 50px 0 20px;
    border-bottom: solid #d5d5d5 3px;
    float: left;
    width: 100%;
    height: 25px;
}

ul.submenu li 
{
    float: left;
}

ul.submenu li a 
{
    font-size: 16px;
    color: #5c5c5c;
    display: inline-block;
    padding-right: 40px;
    padding-bottom: 5px;
    border-bottom: solid #d5d5d5 3px;
}

ul.submenu li a:hover,
ul.submenu.active-settings a.submenu-settings,
ul.submenu.active-deployment a.submenu-deployment,
ul.submenu.active-stats a.submenu-stats,
ul.submenu.active-errors a.submenu-errors
{
    color: #333;
    border-bottom: solid #1ba1e2 3px;
    text-decoration: none;
}