/* TAG SPECIFIC
-----------------------*/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 100%;
}

body, input, label {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #828282;
}

body {
    width: 100%;
    font-size: 13px;
    margin: 0;
    color: #828282;
}

a, a:visited {
    color: #828282;
    text-decoration: underline;
}

p {
    margin: 0 0 20px 0;
}

h1 {
    font-size: 36px;    
    font-weight: normal;
    margin: 0;
    color: #272727;
}

h2 {
    font-size: 22px;
    font-weight: normal;
    color: white;
    padding: 10px;
    margin: 0;
}

h3 {
    font-size: 18px;
    font-weight: normal;
    padding: 10px 0;
    margin: 0;
}


table {
    background-color: #e2e2e2;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    padding: 10px 0;
    color: #272727;
}

    table thead {
        margin-top: 10px;
        color: white;
        padding-top: 10px;
    }

        table thead tr th {
            background-color: #272727;
            padding: 10px 15px;
            text-align: left;
        }

    table tbody tr td {
        padding: 10px 15px;
    }

    table tbody tr:nth-child(even) td {
        background-color: #efefef;
    }

input[type=text], input[type=password] {
    border: 3px solid #a5a5a5;
    padding: 6px 5px 6px;
    color: #828282;
    font-size: 15px;
    outline: 0;
    line-height: 21px;
}

select {
    border: 3px solid #a5a5a5;
    padding: 6px 5px 6px;
    color: #828282;
    font-size: 15px;
    outline: 0;
    line-height: 21px;
}

pre {
    background-color: #ffffcc;
    font-family: "Consolas","Lucida Console",Monospace;
    font-size: 11pt;
    line-height: 14pt;
    margin: 0;
    padding: 0.5em;
    color: black;
    white-space: pre;
    overflow: auto;
}



/* GLOBALS
-----------------------*/
.darkgray {
    color: #272727;
}

.gray {
    color: #a5a5a5;
}

.hide {
    display: none;
}

.pointer {
    cursor: pointer;
}

.box50 {
    width: 50%;
    float: left;
}

.box100 {
    width: 100%;
    float: left;
}

.pushdown-long {
    margin-bottom: 50px;
}

.pushdown-medium {
    margin-bottom: 20px;
}

.pushdown-short {
    margin-bottom: 5px;
}

.pushup-short {
    margin-top: 5px;
}

.pushup-medium {
    margin-top: 20px;
}

.pushup-long {
    margin-top: 50px;
}


.bold {
    font-weight: bold;
}

.indent {
    padding-left: 20px;
}

.add {
    background: url('/images/icon-plus.png') no-repeat left center;
    padding: 5px 0 5px 30px;
    color: #272727;
    text-decoration: none;
    font-weight: bold;
}

.timeago {
    border-bottom: 0 !important;
    color: gray;
}

    .timeago:first-letter {
        text-transform:uppercase;
    }
/* LAYOUT
-----------------------*/
#sidemenu {
    float: left;
    position: fixed;
    width: 260px;
    background-color: #272727;
    border-right: 7px solid #a5a5a5;
    color: white;
    min-height: 100%;
    overflow: auto;
}

    #sidemenu a {
        text-decoration: none;
    }

#servername {
    text-transform: uppercase;
    font-size: 16px;
    color: #828282;
    margin: 15px 0 15px 0;
}

    #servername span:last-child {
        padding: 12px 0;
        display: block;
    }

#search {
    margin-left: 15px;
    padding-bottom: 50px;
}

    #search input[type=text] {
        width: 180px;
        line-height: 20px;
    }

    #search input[type=submit] {
        width: 33px;
        height: 33px;
        background: url('/images/textbox-submit-search.png') no-repeat;
        border: 0;
        padding: 0;
        cursor: default;
    }


#sidemenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sidemenu > ul { margin-bottom: 40px; } /* UserVoice spacer */

#sidemenu.search > ul {
    display: none;
}

#searchresults { display: none;width: 100%;}

#searchresults > a {
  background-color: #E2E2E2;
  border-bottom: 1px solid #CCCCCC;
  color: #272727;
  display: block;
  padding: 10px 10px 10px 16px;
}

#searchresults > a.active {
    font-weight: bold;
}

#sidemenu.search #searchresults {
    display: table;
}

#sidemenu > ul > li > a {
    background-position: 15px center;
    background-repeat: no-repeat;
    padding: 12px 15px 12px 20px;
    font-size: 16px;
    color: white;
    display: block;
    outline: 0;
}

#sidemenu > ul > li > a span.text {
    display: inline-block;
    padding: 5px 12px;
}

    #sidemenu > ul > li > a span.arrow {
        display: block;
        float: right;
        margin-top: 10px;
    }

#sidemenu ul li ul {
    background-color: #ffa840;
    display: none;
}

    #sidemenu ul li ul li a {
        font-size: 13px;
        color: white;
        padding: 5px 0;
        display: block;
        padding-left: 15px;
    }


#sidemenu ul.active-home li.home,
#sidemenu ul li.home:hover,
#sidemenu ul li.home.active {
    background-color: #00bcf2;
}

#sidemenu ul.active-sites li.sites,
#sidemenu ul li.sites:hover,
#sidemenu ul li.sites.active,
#sidemenu ul li.sites ul li a:hover,
#sidemenu ul li.sites ul li.active a {
    background-color: #ff8c00;
}

#sidemenu ul.active-settings li.settings,
#sidemenu ul li.settings:hover,
#sidemenu ul li.settings.active {
    background-color: #682174;
}

#sidemenu ul.active-sites li ul {
    display: block;
}

#topmenu {
    border-bottom: 5px solid #c0c0c0;
    margin-bottom: 20px;
    min-width: 631px;
    padding-top: 12px;
}

#topmenu ul {
    list-style-type: none; 
    width: 100%; 
    height: 49px; 
    margin: 0; 
    padding: 0;
}

#topmenu ul li {
    float: left;
}

#topmenu ul li h1 a {
    text-transform: uppercase; 
    font-weight: bold; 
    display: inline; 
    margin-right: 50px;
    font-size: inherit;
}

#topmenu ul li a {
    padding-right: 50px; 
    padding-top: 21px; 
    padding-bottom:5px; 
    font-size: 16px; 
    color: #272727; 
    display:block; 
    text-decoration: none; 
    text-transform: uppercase;
    line-height: 23px;
}

    #topmenu ul li.settings a:hover,
    #topmenu ul.active-settings li.settings a { border-bottom: 5px solid #682174; }

    #topmenu ul li.errors a:hover,
    #topmenu ul.active-errors li.errors a {border-bottom: 5px solid #00bcf2;}

    #topmenu ul li.applications a:hover,
    #topmenu ul.active-applications li.applications a {border-bottom: 5px solid #ff8c00;}

#maincontent {
    float: left;
    clear: right;
    padding-left: 280px;
    width: 100%;
    min-width: 1145px;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 20px;
}

#content-minwidth {
    min-width: 550px;
}

input[type=text].white {
    border: 0;
    padding: 7px 5px 6px;
    color: #828282;
    font-size: 14px;
    outline: 0;
    line-height: 21px;
}


#popup-message {
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
    z-index: 10;
    color: white;
    font-size: 16px;
    display: none;
    cursor: pointer;
}

    #popup-message span {
        display: inline-block;
        padding: 20px;
    }

    #popup-message.success {
        background-color: #3fb618;
    }

    #popup-message.error {
        background-color: #E81123;
    }

    #popup-message.info {
        background-color: #c0c0c0;
        color: #272727;
    }

h2.bug {
    background-color: #00BCF2;
    padding-left: 15px;
}
    h2.bug span {
        margin-right: 10px;
    }


.input-group {
    padding-bottom: 15px;
}

    .input-group label {
        display: block;
        padding-bottom: 5px;
    }

    .input-group input[type=text], .input-group input[type=password], .input-group select {
        width: 80%;
    }

    .input-group p {
        margin: 0;
        padding: 5px 0 0 0;
        font-size: 12px;
    }

.input-group.error input {
    border-color: #ff0039 !important;
}

.input-group .help-block {
    color: #ff0039;
    display: block;
    margin-top: 5px;
}

input[type=submit], .btn-submit, a.btn-submit:visited {
    background: url('/images/icon-ok.png') no-repeat 10px center;
    padding: 10px 15px 10px 45px;
    background-color: #a8c019;
    color: white;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

    input[type=submit]:hover {
        background-color: #bad80a;
    }

    input[type=submit].cancel {
        background-image: url('/images/icon-cancel.png');
        background-color: #fb4050;
    }

        input[type=submit].cancel:hover {
            background-color: #e81123;
        }

    input[type=submit].warning {
        background-image: url('/images/icon-warning.png');
        background-color: #FFA840;
    }

        input[type=submit].warning:hover {
            background-color: #ff8c00;
        }

        input[type=submit].recycle { background-image: url('/images/icon-recycle.png'); background-position: 10px 12px }
        input[type=submit].restart { background-image: url('/images/icon-restart.png'); }

table#bindings {
    padding: 5px;
}

    table#bindings tbody tr td {
        background-color: #e2e2e2;
    }

    table#bindings tbody:nth-child(odd) tr td {
        background-color: #c9c9c9;
    }

    table#bindings tr td {
        padding: 0;
    }

    table#bindings tbody tr:first-child td { padding-top: 10px; }
    table#bindings tbody tr:last-child td { padding-bottom: 10px; }

    table#bindings tbody tr td select, table#bindings tbody tr td input { border-top: 0;}

    table#bindings tbody tr:first-child td input { border-top: 3px solid #A5A5A5}

    table#bindings tbody tr td label { padding-left: 10px; }




table#entries {
    padding: 5px;
}

    table#entries tbody tr td {
        background-color: #e2e2e2;
    }

    table#entries tbody:nth-child(odd) tr td {
        background-color: #c9c9c9;
    }

    table#entries tr td {
        padding: 3px;
    }
    
    table#entries tbody tr:first-child td input { border-top: 3px solid #A5A5A5}

    table#entries tbody tr td label { padding-left: 10px; }



  #copyright {
      text-align: center; 
      color: #828282; 
      font-size: 10px; 
      text-transform: uppercase; 
      display: block; 
      width: 100%;
  }

  #add-entry {
      display: inline-block;
      clear: both;
  }

  /* SPRITE  */
.sprite {
    background-image: url("/images/servant.png");
    float: left;
    display: inline-block;
}

.sprite-menu-icon-home{background-position:0px -8px ; width: 32px ; height: 32px; }
.sprite-menu-icon-sites{background-position:-42px -8px ; width: 32px ; height: 32px; }
.sprite-menu-icon-settings{background-position:-84px -8px ; width: 32px ; height: 32px; }
.sprite-icon-ok{background-position:-126px -8px ; width: 32px ; height: 32px; }
.sprite-icon-bug{background-position:-168px -8px ; width: 32px ; height: 32px; }
.sprite-icon-delete{background-position:-210px -8px ; width: 32px ; height: 32px; }
.sprite-icon-recycle{background-position:-252px -8px ; width: 32px ; height: 32px; }
.sprite-icon-restart{background-position:-294px -8px ; width: 32px ; height: 32px; }
.sprite-icon-stack{background-position:-336px 0px ; width: 44px ; height: 48px; }
.sprite-icon-cancel{background-position:-394px -8px ; width: 32px ; height: 32px; }
.sprite-icon-arrow-down{background-position:-436px -16px ; width: 16px ; height: 16px; }