@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Shared/_Layout.cshtml";
    ViewBag.Title = "Settings";
    ViewBag.ActiveMenuItem = "settings";
}

<h2>Settings</h2>

<div class="clear"></div>

<form action="/settings/" method="POST">
    <div class="row">
        <div class="span5">
            <h4 class="margin-top30">General</h4>
    
            <div class="margin-top10">
                <label for="binding">Servant binding</label>
                <input type="text" class="input-medium span4" id="binding" name="binding" value="@Model.Settings.Hostname:@Model.Settings.Port" />
                <p class="gray">Wildcard is currently not supported. Waiting for Nancy 0.13</p>
            </div>

            <div class="margin-top10">
                <label for="debug">Debug mode</label>
                <label class="checkbox">
                    <input type="checkbox" name="debug" id="debug" @(Model.Settings.Debug == true ? Html.Raw("checked=\"checked\"") : null) />
                    Enabled
                </label>
            </div>
        </div>
    
        <div class="margin-top30 span10">
            <input type="submit" class="btn btn-primary" value="Save settings" />
        </div>
    </div>
</form>

@section javascript {
    <script type="text/javascript">
        $("form").submit(function () {
            var inputs = $(this).serialize();
            $.post("/settings/", inputs);

            var binding = $("input[name=binding]").val();
            $(this).find("input[type=submit]").attr("disabled", "disabled");

            setTimeout(function () {
                window.location = "http://" + binding + "/settings/";
            }, 1000);

            return false;
        });
    </script>
}