@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Shared/_Layout.cshtml";
}


<div id="topmenu">
    <ul class="active-@ViewBag.ActiveSubmenuItem">
        <li><h1><a href="/sites/@Model.Site.IisId/settings/">@Model.Site.Name</a></h1></li>
        <li class="settings"><a href="/sites/@Model.Site.IisId/settings/">Settings</a></li>
        <li class="errors"><a href="/sites/@Model.Site.IisId/errors/">Errors</a></li>
    </ul>
</div>

@RenderBody()

@section javascript {
    @RenderSection("javascript", false)
}