@using System.Linq
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<table id="bindings" class="pushdown-short">
    @foreach (var binding in Model.Site.RawBindings)
    {
        <tbody>
        <tr>
            <td style="width: 73px; padding-top: 15px; vertical-align: top;">
                <label>HTTPS <input type="checkbox" name="https" /></label>
            </td>
            <td>
                <input type="text" name="rawbindings" value="@binding" style="width: 100%;" />
                <select style="width: 100%; border-top: 0; display: none;" name="certificate">
                    @foreach (var certificate in Model.Certificates)
                    {
                        <option>@certificate</option>
                    }
                </select>
            </td>
            <td style="width: 30px; text-align: center; padding-top: 15px; vertical-align: top;"><img src="/Images/icon-delete.png" class="remove-binding pointer @Html.Raw((((string[]) Model.Site.RawBindings).Count()) == 1 ? " hide" : "")" /></td>
        </tr>
        </tbody>
    }
</table>

<a href="#" class="add" id="add-binding">Add more</a>
