@using System.Linq
@using Servant.Business.Objects
@using Servant.Business.Objects.Enums
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<table id="bindings" class="pushdown-short">
    @foreach(var binding in Model.Site.Bindings)
    {
        <tbody>
            <tr>
                <td class="input-group">
                    <input type="text" name="bindingsuserinput" value="@binding.UserInput" style="width: 100%;" />
                    <select style="width: 100%; border-top: 0; @(binding.Protocol == Protocol.https ? "" : "display: none;")" name="bindingscertificatename">
                        @foreach (var certificate in Model.Certificates)
                        {
                            <option@Html.Raw(binding.CertificateName == certificate ? " selected=\"selected\"" : null)>@certificate</option>
                        }
                    </select>
                    <span class="help-block"></span>
                </td>
                <td style="width: 30px; text-align: center; padding-top: 15px; vertical-align: top;"><img src="/Images/icon-delete.png" class="remove-binding pointer @Html.Raw(((Model.Site.Bindings).Count) == 1 ? " hide" : "")" /></td>
            </tr>
        </tbody>
    }
</table>

<a href="#" class="add" id="add-binding">Add more</a>
