@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_Setup.cshtml";
}

<h1 class="pushdown-long">Servant is ready!</h1> 

<a href="@Model.Url" class="btn-submit">Click here to login now</a>

@section javascript {
    <script>
        $(function() {
            $.get("/setup/restartservant/");
        });
    </script>
}